# exclude: 'conf.py' --- relevant for docs
# Configuring https://pre-commit.ci/
ci:
    autoupdate_schedule: monthly
repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v5.0.0
      hooks:
          - id: check-added-large-files
          - id: check-docstring-first
          - id: check-executables-have-shebangs
          - id: check-case-conflict
          - id: check-merge-conflict
          - id: check-symlinks
          - id: check-yaml
          - id: check-toml
          - id: debug-statements
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: name-tests-test
            args: ["--pytest-test-first"]
            exclude: ^tests/fixtures
          - id: requirements-txt-fixer
          - id: trailing-whitespace
    # - repo: https://github.com/pre-commit/pygrep-hooks
    #   rev: v1.10.0
    #   hooks:
    #     - id: rst-backticks
    #     - id: rst-directive-colons
    #     - id: rst-inline-touching-normal
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.6.9
      hooks:
        - id: ruff
        - id: ruff-format
    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.11.2
      hooks:
          - id: mypy
            additional_dependencies:
                - attrs
                - types-setuptools
                - pandas-stubs
                - types-attrs
                - types-PyYAML
                - types-requests
    - repo: https://github.com/mgedmin/check-manifest
      rev: "0.49"
      hooks:
          - id: check-manifest
            args: [--no-build-isolation]
            additional_dependencies:
              - setuptools>=77
              - wheel
              - setuptools_scm[toml]>=8
exclude: |
  (?x)(
      ^notebooks/|
      ^tests/data/
  )
