include LICENSE
include README.md


recursive-include guides *.md
recursive-include crabs/tracker *.md
recursive-include bash_scripts *.sh
recursive-include notebooks *.py
recursive-include notebooks *.ipynb
recursive-include scripts *.py
recursive-include crabs *.yaml
recursive-include guides *.png

exclude .pre-commit-config.yaml


recursive-exclude * __pycache__
recursive-exclude * *.py[co]
recursive-exclude docs *
recursive-exclude tests *
exclude conftest.py
