name: tests

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:

jobs:
  linting:
    name: Run pre-commit linters
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/lint@v2

  manifest:
    name: Check Manifest
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/check_manifest@v2

  test:
    name: Run tests on ${{ matrix.os }} py${{ matrix.python-version }}
    needs: [linting, manifest]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Run all supported Python versions on linux
        os: [ubuntu-latest]
        python-version: ["3.9", "3.10"]
        # Include 1 Intel macos (15) and 1 "Apple chip" macos (latest)
        include:
          - os: macos-15-intel # intel macOS
            python-version: "3.10"
          - os: macos-latest  # "Apple chip" macOS
            python-version: "3.10"
    steps:
      - name: Cache test data
        uses: actions/cache@v4
        with:
          path: |
            ~/.crabs-exploration-test-data/*
          key: cached-test-data
          enableCrossOsArchive: true
      - name: Run all tests except marked slow (if macos-15-intel)
        # this is because we observed macos-15-intel runners in CI
        # are sometimes x2 as slow as the others. See
        # https://github.com/actions/runner-images/issues/3885#issuecomment-1848423579
        if: matrix.os == 'macos-15-intel'
        uses: neuroinformatics-unit/actions/test@v2
        with:
          python-version: ${{ matrix.python-version }}
          secret-codecov-token: ${{ secrets.CODECOV_TOKEN }}
          tox-args: "-- -m 'not slow'"
      - name: Run all tests (if not macos-15-intel)
        if: matrix.os != 'macos-15-intel'
        uses: neuroinformatics-unit/actions/test@v2
        with:
          python-version: ${{ matrix.python-version }}
          secret-codecov-token: ${{ secrets.CODECOV_TOKEN }}

  build_sdist_wheels:
    name: Build source distribution
    needs: [test]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref_type == 'tag'
    steps:
      - uses: neuroinformatics-unit/actions/build_sdist_wheels@v2
