name: tests

on:
  push:
    branches:
      - "*"
    tags:
      - "*"
  pull_request:

jobs:
  linting:
    name: Run pre-commit linters
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/lint@v2

  manifest:
    name: Check Manifest
    runs-on: ubuntu-latest
    steps:
      - uses: neuroinformatics-unit/actions/check_manifest@v2

  test:
    name: Run tests on ${{ matrix.os }} py${{ matrix.python-version }}
    needs: [linting, manifest]
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # Run all supported Python versions on linux
        os: [ubuntu-latest]
        python-version: ["3.11", "3.12"]
        include:
          - os: macos-latest  # Apple chip macOS
            python-version: "3.12"
    steps:
      - name: Cache test data
        uses: actions/cache@v4
        with:
          path: |
            ~/.crabs-exploration-test-data/*
          key: cached-test-data
          enableCrossOsArchive: true
      # Install necessary OpenGL packages for Ubuntu only
      # https://github.com/conda-forge/opencv-feedstock/issues/401
      # https://github.com/talmolab/sleap/pull/1909
      - name: Install OpenGL libraries (Ubuntu only)
        if: runner.os == 'Linux'
        shell: bash -l {0}
        run: |
          sudo apt-get update
          sudo apt-get install libglapi-mesa libegl-mesa0 libegl1 libopengl0 libgl1
      - name: Run all tests
        uses: neuroinformatics-unit/actions/test@v2
        with:
          python-version: ${{ matrix.python-version }}
          secret-codecov-token: ${{ secrets.CODECOV_TOKEN }}

  build_sdist_wheels:
    name: Build source distribution
    needs: [test]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && github.ref_type == 'tag'
    steps:
      - uses: neuroinformatics-unit/actions/build_sdist_wheels@v2
